* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("img/background.jpg");
  background-size: 100%;
}

section {
  margin: auto;
  margin-top: 30px;
  width: 1250px;
  height: 850px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

header > img {
  max-height: 100px;
  margin-top: 100px;
}

header > h1 {
  font-size: 30px;
  color: #00DD00;
  margin: 10px;
}

nav > div {
  width: 1000px;
  height: 50px;
  background-color: #00DD00;
  display: flex;
  justify-content: center;
  align-items: center;
}

div > button {
  font-weight: 400;
  margin: 2px;
  padding: 1px 4px 1px 4px;
}

main {
  width: 1000px;
  color: white;
  display: block;
  margin: auto;
}


div > div:first-child {
  font-size: 25px;
  margin: 20px 0px 5px 0px;
  font-weight: 500;
}

div.scooter-status {
  margin-bottom: 5px;
  font-size: 18px;
}

div.charge-bar1 {
  height: 30px;
  width: 350px;
  background-color: #ffc266;
  border-radius: 4px;
}

div.charge-bar2 {
  height: 30px;
  width: 550px;
  background-color: #00DD00;
  border-radius: 4px;
}

div.charge-bar3 {
  height: 30px;
  width: 120px;
  background-color: #ff3333;
  border-radius: 4px;
}
